.container-contato {
    margin-top: 12.5rem;
    display: grid;
    grid-template-columns: [full-start] minmax(15px, 1fr) [main-content-start] minmax(min-content, 930px) [main-content-end] minmax(15px, 1fr) [full-end];
    grid-row-gap: 30px;

    > .page-title {
        grid-column: main-content-start / main-content-end;
    }

    > .contact-container {
        grid-column: main-content-start / main-content-end;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
        grid-column-gap: 30px;
    }

    > .social-media-bar {
        grid-column: main-content-start / main-content-end;
        margin-bottom: 5rem;
    }
}

.page-title {
    font-size: 3.4rem;
    text-align: center;
    font-weight: 600;
}

.box {
    background-color:#fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 40px 50px;

    &.-nopadding{
        padding: 0;
    }
}