@import 'profile-info.scss';

.rsc-profile-box {
    display: grid;
    grid-template-columns: minmax(20px, 40px) max-content minmax(371px, 1fr) minmax(20px, 40px);
    grid-template-rows: minmax(20px, 40px) min-content minmax(85px, min-content);
    grid-gap: 30px; 
    background-color: $color-background-light;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    
    @include mq(small) {
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 20px repeat(2, min-content) minmax(75px, min-content);
        grid-column-gap: 0;
    }

    > .avatar{
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        @include mq(small) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            justify-self: center;
        }
    }

    > .profile-info {
        grid-column: 3 / 4;
        grid-row: 2 / 3;

        @include mq(small) {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
    }

    > .social-media-bar {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        background-color: $color-primary;

        @include mq(small) {
            grid-row: 4 / 5;
        }
    }
}