<div class="social-media">
    <a href="" class="social-button"><fa-icon class="icon -white" [icon]="socialIcons.twitter"></fa-icon></a>
    <a href="" class="social-button"><fa-icon class="icon -white" [icon]="socialIcons.facebook"></fa-icon></a>
    <a href="" class="social-button"><fa-icon class="icon -white" [icon]="socialIcons.dribbble"></fa-icon></a>
    <a href="" class="social-button"><fa-icon class="icon -white" [icon]="socialIcons.linkedin"></fa-icon></a>
    <a href="" class="social-button"><fa-icon class="icon -white" [icon]="socialIcons.instagram"></fa-icon></a>
    <a href="" class="social-button"><fa-icon class="icon -white" [icon]="socialIcons.googleplus"></fa-icon></a>
</div>