<header class="header">
    <a [routerLink]="" class="logo">
        <span class="highlight">RS</span>card
    </a>
    <ul class="navigation">
        <li class="navigation-item" routerLink="/about" routerLinkActive="-active"><a class="link">About</a></li>
        <li class="navigation-item" routerLink="/skills" routerLinkActive="-active"><a class="link">Skills</a></li>
        <li class="navigation-item" routerLinkActive="-active"><a class="link">Portfolio</a></li>
        <li class="navigation-item" routerLinkActive="-active"><a class="link">Experience</a></li>
        <li class="navigation-item" routerLinkActive="-active"><a class="link">Princing</a></li>
        <li class="navigation-item" routerLinkActive="-active"><a class="link">Blog</a></li>
        <li class="navigation-item" routerLinkActive="-active"><a class="link">Calendar</a></li>
        <li class="navigation-item" routerLink="/contact" routerLinkActive="-active"><a class="link">Contact</a></li>
        <li class="navigation-item" routerLinkActive="-active"><a class="link">Other</a></li>
    </ul>
    <button class="navigation-button">Menu</button>
</header>