.container-skills{
    margin-top: 12.5rem;
    display: grid;
    grid-template-columns: [full-start] minmax(15px, 1fr) [main-content-start] minmax(min-content, 930px) [main-content-end] minmax(15px, 1fr) [full-end];
    grid-row-gap: 30px;
    
    > .page-title {
        grid-column: main-content-start / main-content-end;
    }

    > .box {
        grid-column: main-content-start / main-content-end;
    }
}