<div class="page-container">
    <div class="page-section maincontent">
        <h2 class="title">Professional Skills</h2>
        <div class="skills-container box">
            <rsc-skill-bar [progress]="80" label="WordPress"></rsc-skill-bar>
            <rsc-skill-bar [progress]="89" label="HTML & CSS"></rsc-skill-bar>
            <rsc-skill-bar [progress]="52" label="JavaScript"></rsc-skill-bar>
            <rsc-skill-bar [progress]="99" label="PHP & MySQL"></rsc-skill-bar>
            <rsc-skill-bar [progress]="61" label="Drupal"></rsc-skill-bar>
            <rsc-skill-bar [progress]="97" label="Photoshop"></rsc-skill-bar>
            <rsc-skill-bar [progress]="10" label="AWS"></rsc-skill-bar>
        </div>
    </div>
</div>